In [1]:
# list files in current directory
import os
os.listdir()

['.ipynb_checkpoints',
 'Base_Nozzle_Wafer_Mapping.csv',
 'Base_Nozzle_Wafer_Mapping0.csv',
 'Base_Nozzle_Wafer_Mapping1.csv',
 'Base_Wafer_testresults1.csv',
 'df_wafer_map4.csv',
 'df_wafer_map5.csv',
 'df_wafer_map6.csv',
 'merged',
 'merged_table_with_drop_volume_111.csv',
 'merged_table_with_drop_volume_mar6.csv',
 'merged_table_with_drop_volume_mar7.csv',
 'merging data table.ipynb',
 'nozzle data11.csv',
 'nozzle data11.xlsx',
 'nozzle2.csv',
 'nozzle2.xlsx',
 'nozzle_1.csv',
 'nozzle_1.xlsx',
 'Nozzle_Wafer_sizeresults.csv',
 'test_log_base_wafer1.csv',
 'test_log_base_wafer_volume_mar5.csv',
 'test_log_base_wafer_volume_mar6.csv',
 'test_log_base_wafer_volume_mar7.csv',
 'test_log_base_width_mar5.csv',
 'test_log_base_width_mar6.csv',
 'test_log_base_width_mar7.csv',
 'xy_area_stacked_all.csv']

In [2]:
import pandas as pd
df_nozzleresults = pd.read_csv("xy_area_stacked_all.csv")
df_nozzleresults.name = "xy_area_stacked_all.csv"

df_baseresults = pd.read_csv("test_log_base_width_mar7.csv")
df_baseresults[['Base_Wafer_ID','Die_N']] = df_baseresults['Wafer_DieNo'].str.split('-',expand=True).apply(pd.to_numeric)
df_baseresults.name = "test_log_base_width_mar7.csv"

df_baseresults2 = pd.read_csv("test_log_base_wafer_volume_mar7.csv")
df_baseresults2[['Base_Wafer_ID','Die_N']] = df_baseresults2['Module_Nbr'].str.split('-',expand=True).apply(pd.to_numeric)
df_baseresults2.name = "test_log_base_wafer_volume_mar7.csv"

In [3]:
df_wafer_map = pd.read_csv("Base_Nozzle_Wafer_Mapping.csv")
df_wafer_map.name = "Base_Nozzle_Wafer_Mapping.csv"
df_wafer_map[ 'Nozzle_Wafer_ID' ] = df_wafer_map['consumable_unit_id'].apply(pd.to_numeric)

df_wafer_map2 = pd.read_csv("Base_Nozzle_Wafer_Mapping0.csv")
df_wafer_map2.name = "Base_Nozzle_Wafer_Mapping0.csv"
df_wafer_map2[ 'Nozzle_Wafer_ID' ] = df_wafer_map2['consumable_unit_id'].apply(pd.to_numeric)
df_wafer_map2[ 'nozzle_product' ] = df_wafer_map2['nozzleproduct'].apply(pd.to_numeric)

df_wafer_map3 = pd.read_csv("Base_Nozzle_Wafer_Mapping1.csv")
df_wafer_map3.name = "Base_Nozzle_Wafer_Mapping1.csv"
df_wafer_map3[ 'Nozzle_Wafer_ID' ] = df_wafer_map3['consumable_unit_id'].apply(pd.to_numeric)
df_wafer_map3[ 'nozzle_product' ] = df_wafer_map3['nozzleproduct'].apply(pd.to_numeric)


df_wafer_map11 = pd.read_csv("nozzle2.csv")
df_wafer_map11.name = "nozzle2.csv"
df_wafer_map11[ 'Nozzle_Wafer_ID' ] = df_wafer_map11['consumable_unit_id'].apply(pd.to_numeric)
df_wafer_map11[ 'nozzle_product' ] = df_wafer_map11['nozzleproduct'].apply(pd.to_numeric)

df_wafer_map12 = pd.read_csv("nozzle_1.csv")
df_wafer_map12.name = "nozzle_1.csv"
df_wafer_map12[ 'Nozzle_Wafer_ID' ] = df_wafer_map12['consumable_unit_id'].apply(pd.to_numeric)
df_wafer_map12[ 'nozzle_product' ] = df_wafer_map12['nozzleproduct'].apply(pd.to_numeric)

df_wafer_map13 = pd.read_csv("nozzle data11.csv")
df_wafer_map13.name = "nozzle data11.csv"
df_wafer_map13[ 'Nozzle_Wafer_ID' ] = df_wafer_map13['consumable_unit_id'].apply(pd.to_numeric)
df_wafer_map13[ 'nozzle_product' ] = df_wafer_map13['nozzleproduct'].apply(pd.to_numeric)

df_wafer_map4 = pd.concat([df_wafer_map, df_wafer_map2, df_wafer_map3, df_wafer_map11, df_wafer_map12, df_wafer_map13], sort=False)
df_wafer_map4.head(5)

,lot_id,nozzle_product,consumable_unit_id,component,comments,PERFORMED_BY,PERFORMED_DATE,Nozzle_Wafer_ID,nozzleproduct
0,246404,G_401_N,237330,237330.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:26,237330,NaN
1,245896,G_401_N,237331,237331.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:33,237331,NaN
2,246400,G_401_N,237332,237332.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:28,237332,NaN
3,245119,G_401_N,237333,237333.1,Okmetic Lot# 02K80556 SUMCO QUAL,ANNA.ESPINOZA,2/20/2018 9:45,237333,NaN
4,246408,G_401_N,237334,237334.1,Okmetic Lot# 02K80556 SUMCO QUAL,CURTIS.JANG,3/10/2018 12:29,237334,NaN

In [4]:
df_wafer_map4.shape

(9289, 9)

In [5]:
df_wafer_map4['Nozzle_Wafer_ID'] = df_wafer_map4.apply(lambda row: float(row.component) if len(str(row.component))==8 else (row.Nozzle_Wafer_ID+0.1), axis=1)
df_wafer_map4.head(5)

,lot_id,nozzle_product,consumable_unit_id,component,comments,PERFORMED_BY,PERFORMED_DATE,Nozzle_Wafer_ID,nozzleproduct
0,246404,G_401_N,237330,237330.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:26,237330.1,NaN
1,245896,G_401_N,237331,237331.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:33,237331.1,NaN
2,246400,G_401_N,237332,237332.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:28,237332.1,NaN
3,245119,G_401_N,237333,237333.1,Okmetic Lot# 02K80556 SUMCO QUAL,ANNA.ESPINOZA,2/20/2018 9:45,237333.1,NaN
4,246408,G_401_N,237334,237334.1,Okmetic Lot# 02K80556 SUMCO QUAL,CURTIS.JANG,3/10/2018 12:29,237334.1,NaN

In [6]:
df_wafer_map5 = df_wafer_map4.drop_duplicates(['lot_id','Nozzle_Wafer_ID'])

In [7]:
df_wafer_map5.shape

(3498, 9)

In [8]:
len(df_wafer_map5['Nozzle_Wafer_ID'].unique())

3498

In [9]:
df_wafer_map5['Base_ID'] =  '"' + df_wafer_map5['lot_id'].astype(str) +  r'",'

c:\users\jiacheng.qu\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
df_wafer_map5.head(5)

,lot_id,nozzle_product,consumable_unit_id,component,comments,PERFORMED_BY,PERFORMED_DATE,Nozzle_Wafer_ID,nozzleproduct,Base_ID
0,246404,G_401_N,237330,237330.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:26,237330.1,NaN,"""246404"","
1,245896,G_401_N,237331,237331.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:33,237331.1,NaN,"""245896"","
2,246400,G_401_N,237332,237332.1,Okmetic Lot# 02K80556 SUMCO QUAL,JUDY.HERNANDEZ,3/12/2018 23:28,237332.1,NaN,"""246400"","
3,245119,G_401_N,237333,237333.1,Okmetic Lot# 02K80556 SUMCO QUAL,ANNA.ESPINOZA,2/20/2018 9:45,237333.1,NaN,"""245119"","
4,246408,G_401_N,237334,237334.1,Okmetic Lot# 02K80556 SUMCO QUAL,CURTIS.JANG,3/10/2018 12:29,237334.1,NaN,"""246408"","

In [11]:
df_wafer_map5.to_csv("df_wafer_map6.csv",index=False)

In [12]:
list(df_nozzleresults)

['WAFER ID',
 'Batch#',
 'KOH#',
 'Product#',
 'FAIL#',
 'Date',
 'Nozzle_Die',
 'X',
 'Y',
 'XY_Area',
 'sqrt_of_XY',
 'Die#',
 'Nozzle#',
 'Noz_location']

In [13]:
df_nozzleresults["Nozzle_Wafer_ID"] = df_nozzleresults["WAFER ID"]

In [14]:
df_nozzleresults.head(5)

,WAFER ID,Batch#,KOH#,Product#,FAIL#,Date,Nozzle_Die,X,Y,XY_Area,sqrt_of_XY,Die#,Nozzle#,Noz_location,Nozzle_Wafer_ID
0,245048.0,112.0,1,1,0,20180204,D1N1,14.639596,14.576902,213.399957,14.608215,1,1,104,245048.0
1,245048.0,112.0,1,1,0,20180204,D1N2,14.720362,14.600582,214.925859,14.660350,1,2,121,245048.0
2,245048.0,112.0,1,1,0,20180204,D1N3,14.759633,14.569323,215.037855,14.664169,1,3,360,245048.0
3,245048.0,112.0,1,1,0,20180204,D1N4,14.693113,14.522786,213.384936,14.607701,1,4,377,245048.0
4,245048.0,112.0,1,1,0,20180204,D1N5,14.712719,14.632476,215.283511,14.672543,1,5,616,245048.0

In [15]:
df_nozzleresults['Nozzle_Wafer_ID'] = df_nozzleresults.apply(lambda row: row.Nozzle_Wafer_ID+0.1 if str(row.Nozzle_Wafer_ID)[-1]=='0' else row.Nozzle_Wafer_ID, axis=1)
df_nozzleresults.tail(5)

,WAFER ID,Batch#,KOH#,Product#,FAIL#,Date,Nozzle_Die,X,Y,XY_Area,sqrt_of_XY,Die#,Nozzle#,Noz_location,Nozzle_Wafer_ID
704475,263957.5,NaN,2,2,1,20190303,D10N12,16.944309,16.582532,280.979552,16.762445,10,12,1401,263957.5
704476,263957.5,NaN,2,2,1,20190303,D10N13,16.708532,16.631473,277.887506,16.669958,10,13,1640,263957.5
704477,263957.5,NaN,2,2,1,20190303,D10N14,16.789111,16.666782,279.820447,16.727835,10,14,1657,263957.5
704478,263957.5,NaN,2,2,1,20190303,D10N15,16.777027,16.703581,280.236435,16.740264,10,15,1896,263957.5
704479,263957.5,NaN,2,2,1,20190303,D10N16,16.812626,16.621052,279.443527,16.716564,10,16,1913,263957.5

In [16]:
start1 = df_wafer_map5['Nozzle_Wafer_ID'].unique()
start2 = df_nozzleresults['Nozzle_Wafer_ID'].unique()
print(len(start1),len(start2))

3498 4282

In [17]:
s12 = [x for x in start1 if x not in start2]
s21 = [x for x in start2 if x not in start1]
print(len(s12),len(s21))

67 851

In [18]:
print("______________  "+df_baseresults.name +"___________",df_baseresults.shape) 
df_baseresults.head(5)

______________  test_log_base_width_mar7.csv___________ (286160, 7)

,Wafer_DieNo,NozzNo,DateTime,offset,width,Base_Wafer_ID,Die_N
0,174024-06,104,2013-07-11T02:49:20,-0.639746,NaN,174024,6
1,174024-06,121,2013-07-11T02:49:20,-0.263834,NaN,174024,6
2,174024-06,360,2013-07-11T02:49:20,-0.073183,NaN,174024,6
3,174024-06,377,2013-07-11T02:49:20,0.483852,NaN,174024,6
4,174024-06,616,2013-07-11T02:49:20,-0.715256,NaN,174024,6

In [19]:
print("______________  "+df_baseresults2.name +"___________",df_baseresults2.shape) 
df_baseresults2.head(5)

______________  test_log_base_wafer_volume_mar7.csv___________ (18375, 27)

,Test_Index,Module_Nbr,Back_Index_In_Test_Log_1,DateTime,Temperature,Humidity,Fixture,Meniscus_Pressure,Ink_Circulation_Rate,Waveform_Adjustment_Coefficient,...,ViscAdjInkFlowResistance,HydrophobicityGradeNumber,Volume_Uniformity_Low_Freq_Weight,Drop_Volume_Block_1,Drop_Volume_Block_2,Drop_Volume_Block_3,Drop_Volume_Block_4,Block_Drop_Max_Range,Base_Wafer_ID,Die_N
0,94646,251293-07,96852,2018-09-02T22:38:14,24.3489,46.11903,WCDMP03,-10,0,0.893,...,30100000000,0,240.000000,0.0,0.00,0.00,11.33,300.000000,251293,7
1,90361,248565-03,92567,2018-06-14T19:01:43,22.9089,52.02084,WCJ2COUPON2,-10,0,1.030,...,6630000000,0,-7.679835,10.0,9.89,9.40,8.94,6.460895,248565,3
2,90162,242455-03,92368,2018-06-11T18:36:05,22.6689,51.07010,WCJ2COUPON2,-10,0,1.052,...,6450000000,0,-7.463829,10.0,9.75,9.35,8.95,5.913272,242455,3
3,88341,241678-04,90545,2018-05-01T11:54:10,23.5689,42.15934,WCJ2COUPON2,-10,0,1.029,...,6870000000,0,-9.068235,10.0,9.70,9.24,8.73,7.300239,241678,4
4,92467,250477-05,94673,2018-07-25T09:54:00,23.3089,53.71239,WCJ2COUPON2,-10,0,1.029,...,6980000000,0,-7.697155,10.0,9.76,9.37,8.91,6.309148,250477,5

In [20]:
print("______________  "+df_wafer_map.name +"___________")
df_wafer_map5['Nozzle_Wafer_ID'] = df_wafer_map5.apply(lambda row: row.Nozzle_Wafer_ID+0.1 if str(row.Nozzle_Wafer_ID)[-1]=='0' else row.Nozzle_Wafer_ID, axis=1)
df_wafer_map5.tail(5)

______________  Base_Nozzle_Wafer_Mapping.csv___________

c:\users\jiacheng.qu\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,lot_id,nozzle_product,consumable_unit_id,component,comments,PERFORMED_BY,PERFORMED_DATE,Nozzle_Wafer_ID,nozzleproduct,Base_ID
1145,262741,NaN,263449,263449.2,sumco wafers lot#05K00402,WILLIE.ASPURIA,2/27/19 2:01 PM,263449.2,G_402_N,"""262741"","
1146,262906,NaN,263449,263449.3,sumco wafers lot#05K00402,ERNESTO.VERGONIO,2/23/19 1:57 AM,263449.3,G_402_N,"""262906"","
1154,262960,NaN,263829,263829.1,OKMETIC LOT# 463013-1,CHRISTIAN.BARRON,3/5/19 11:18 PM,263829.1,J_602_N,"""262960"","
1155,262966,NaN,263829,263829.2,OKMETIC LOT# 463013-1,CHRISTIAN.BARRON,3/5/19 11:19 PM,263829.2,J_602_N,"""262966"","
1156,262877,NaN,263829,263829.3,OKMETIC LOT# 463013-1,CHRISTIAN.BARRON,3/5/19 11:20 PM,263829.3,J_602_N,"""262877"","

In [21]:
temp_list = list(df_baseresults2)
temp_list = [x for x in temp_list if x not in ['Drop_Volume_Block_1', 'Drop_Volume_Block_2', 'Drop_Volume_Block_3', 'Drop_Volume_Block_4']]
print(temp_list)

['Test_Index', 'Module_Nbr', 'Back_Index_In_Test_Log_1', 'DateTime', 'Temperature', 'Humidity', 'Fixture', 'Meniscus_Pressure', 'Ink_Circulation_Rate', 'Waveform_Adjustment_Coefficient', 'Meniscus_Retentivity_Minimum', 'Meniscus_Retentivity_Average', 'Ink_Flow_Resistance', 'Drop_Volume_Large', 'Drop_Volume_Medium', 'Drop_Volume_Small', 'Note', 'ViscAdjInkFlowResistance', 'HydrophobicityGradeNumber', 'Volume_Uniformity_Low_Freq_Weight', 'Block_Drop_Max_Range', 'Base_Wafer_ID', 'Die_N']

In [22]:
df_baseresults2_stacked = 
    df_baseresults2.melt(id_vars=temp_list,var_name='block_no',value_name='drop_by_block')

In [23]:
df_baseresults2_stacked.shape

(73500, 25)

In [24]:
df_baseresults2_stacked.head(10)

,Test_Index,Module_Nbr,Back_Index_In_Test_Log_1,DateTime,Temperature,Humidity,Fixture,Meniscus_Pressure,Ink_Circulation_Rate,Waveform_Adjustment_Coefficient,...,Drop_Volume_Small,Note,ViscAdjInkFlowResistance,HydrophobicityGradeNumber,Volume_Uniformity_Low_Freq_Weight,Block_Drop_Max_Range,Base_Wafer_ID,Die_N,block_no,drop_by_block
0,94646,251293-07,96852,2018-09-02T22:38:14,24.3489,46.11903,WCDMP03,-10,0,0.893,...,0.00,Ink Lot: #F21129,30100000000,0,240.000000,300.000000,251293,7,Drop_Volume_Block_1,0.00
1,90361,248565-03,92567,2018-06-14T19:01:43,22.9089,52.02084,WCJ2COUPON2,-10,0,1.030,...,5.13,Pass,6630000000,0,-7.679835,6.460895,248565,3,Drop_Volume_Block_1,10.00
2,90162,242455-03,92368,2018-06-11T18:36:05,22.6689,51.07010,WCJ2COUPON2,-10,0,1.052,...,5.33,Pass,6450000000,0,-7.463829,5.913272,242455,3,Drop_Volume_Block_1,10.00
3,88341,241678-04,90545,2018-05-01T11:54:10,23.5689,42.15934,WCJ2COUPON2,-10,0,1.029,...,5.15,Pass,6870000000,0,-9.068235,7.300239,241678,4,Drop_Volume_Block_1,10.00
4,92467,250477-05,94673,2018-07-25T09:54:00,23.3089,53.71239,WCJ2COUPON2,-10,0,1.029,...,5.17,Pass,6980000000,0,-7.697155,6.309148,250477,5,Drop_Volume_Block_1,10.00
5,92888,248932-04,95094,2018-07-31T19:50:44,20.9089,58.95705,WCJ2COUPON4,-10,0,0.993,...,4.77,"Pass, Ink Lot: #Y0319E, IFF: 3.85306976744034",6110000000,0,-9.211096,7.889126,248932,4,Drop_Volume_Block_1,10.00
6,93288,250474-04,95494,2018-08-10T00:06:55,21.9889,56.22614,WCJ2COUPON1,-10,0,0.979,...,5.21,Pass,7550000000,0,-8.153797,6.557809,250474,4,Drop_Volume_Block_1,10.00
7,88141,241678-03,90345,2018-04-27T07:52:05,23.2289,43.68301,WCJ2COUPON2,-10,0,1.029,...,5.20,Pass,6790000000,0,-9.555750,7.635009,241678,3,Drop_Volume_Block_1,10.01
8,89914,241679-03,92120,2018-06-07T14:39:36,20.8789,53.21927,WCJ2COUPON1,-10,0,0.978,...,5.34,Pass,6350000000,0,-8.262790,6.859396,241679,3,Drop_Volume_Block_1,10.01
9,90442,240217-03,92648,2018-06-16T07:46:26,23.5489,47.23013,WCJ2COUPON2,-10,0,1.015,...,5.10,Pass,6510000000,0,-8.578968,7.025885,240217,3,Drop_Volume_Block_1,10.01

In [ ]:
temp_list = list(df_baseresults2_stacked)
temp_list = [x for x in temp_list if x not in ['noz_a', 'noz_b', 'noz_c', 'noz_d']]
print(temp_list)
df_baseresults2_stacked_ult = 
    df_baseresults2_stacked.melt(id_vars=temp_list,var_name='noz_blk',value_name='noz_no')

In [ ]:
df_baseresults2_stacked_ult.tail(5)

In [ ]:
print(".Die_N type is: "+str(df_baseresults2_stacked_ult.Die_N.dtypes)) 
df_baseresults2_stacked_ult[["Die_N", "Base_Wafer_ID"]] = \
            df_baseresults2_stacked_ult[["Die_N", "Base_Wafer_ID"]].apply(pd.to_numeric)
print()
print(".Die_N type is: \n"+str(df_baseresults2_stacked_ult.dtypes))

In [ ]:
df_baseresults2_stacked_ult.noz_no.unique()

In [ ]:
df_baseresults2_stacked_ult.noz_blk.unique()

In [ ]:
df_baseresults.head(5)

In [34]:
df_basemapped = pd.merge(df_baseresults, df_wafer_map5, how='inner', left_on = 'Base_Wafer_ID', right_on = 'lot_id')
print(list(df_basemapped))
print(df_basemapped['Base_Wafer_ID'].unique().shape)
df_basemapped.head()

['Wafer_DieNo', 'NozzNo', 'DateTime', 'offset', 'width', 'Base_Wafer_ID', 'Die_N', 'lot_id', 'nozzle_product', 'consumable_unit_id', 'component', 'comments', 'PERFORMED_BY', 'PERFORMED_DATE', 'Nozzle_Wafer_ID', 'nozzleproduct', 'Base_ID']
(2131,)

,Wafer_DieNo,NozzNo,DateTime,offset,width,Base_Wafer_ID,Die_N,lot_id,nozzle_product,consumable_unit_id,component,comments,PERFORMED_BY,PERFORMED_DATE,Nozzle_Wafer_ID,nozzleproduct,Base_ID
0,174024-06,104,2013-07-11T02:49:20,-0.639746,NaN,174024,6,174024,NaN,174450,2.997015e+09,NaN,TTC01,5/10/13 2:35 AM,174450.1,J_602_N,"""174024"","
1,174024-06,121,2013-07-11T02:49:20,-0.263834,NaN,174024,6,174024,NaN,174450,2.997015e+09,NaN,TTC01,5/10/13 2:35 AM,174450.1,J_602_N,"""174024"","
2,174024-06,360,2013-07-11T02:49:20,-0.073183,NaN,174024,6,174024,NaN,174450,2.997015e+09,NaN,TTC01,5/10/13 2:35 AM,174450.1,J_602_N,"""174024"","
3,174024-06,377,2013-07-11T02:49:20,0.483852,NaN,174024,6,174024,NaN,174450,2.997015e+09,NaN,TTC01,5/10/13 2:35 AM,174450.1,J_602_N,"""174024"","
4,174024-06,616,2013-07-11T02:49:20,-0.715256,NaN,174024,6,174024,NaN,174450,2.997015e+09,NaN,TTC01,5/10/13 2:35 AM,174450.1,J_602_N,"""174024"","

In [ ]:
df_basemapped_w_result = pd.merge(df_basemapped, df_baseresults2_stacked_ult, how='left', \
                                  left_on = ['Base_Wafer_ID','Die_N','NozzNo'], \
                                  right_on = ['Base_Wafer_ID','Die_N','noz_no']) 
print(list(df_basemapped_w_result))
df_basemapped_w_result.head(5)

In [36]:
df_all3tables = pd.merge(df_wafer_map5, df_nozzleresults, how='left', \
                         left_on = ['Nozzle_Wafer_ID','Die_N','NozzNo'], \
                         right_on = ['Nozzle_Wafer_ID','Die#','Noz_location'])
df_all3tables.head(5)

,Wafer_DieNo,NozzNo,DateTime_x,offset,width,Base_Wafer_ID,Die_N,lot_id,nozzle_product,consumable_unit_id,...,FAIL#,Date,Nozzle_Die,X,Y,XY_Area,sqrt_of_XY,Die#,Nozzle#,Noz_location
0,174024-06,104,2013-07-11T02:49:20,-0.639746,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N1,14.278124,14.198797,202.732183,14.238405,6.0,1.0,104.0
1,174024-06,104,2013-07-11T02:49:20,-0.639746,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N1,14.278124,14.198797,202.732183,14.238405,6.0,1.0,104.0
2,174024-06,104,2013-07-11T02:49:20,-0.639746,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N1,14.278124,14.198797,202.732183,14.238405,6.0,1.0,104.0
3,174024-06,121,2013-07-11T02:49:20,-0.263834,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N2,14.103874,14.044948,198.088175,14.074380,6.0,2.0,121.0
4,174024-06,121,2013-07-11T02:49:20,-0.263834,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N2,14.103874,14.044948,198.088175,14.074380,6.0,2.0,121.0

In [37]:
df_all3tables.shape

(414896, 56)

In [38]:
df_all3tables.sort_values(by=['Wafer_DieNo','NozzNo']) 
df_all3tables.head(5)

,Wafer_DieNo,NozzNo,DateTime_x,offset,width,Base_Wafer_ID,Die_N,lot_id,nozzle_product,consumable_unit_id,...,FAIL#,Date,Nozzle_Die,X,Y,XY_Area,sqrt_of_XY,Die#,Nozzle#,Noz_location
0,174024-06,104,2013-07-11T02:49:20,-0.639746,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N1,14.278124,14.198797,202.732183,14.238405,6.0,1.0,104.0
1,174024-06,104,2013-07-11T02:49:20,-0.639746,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N1,14.278124,14.198797,202.732183,14.238405,6.0,1.0,104.0
2,174024-06,104,2013-07-11T02:49:20,-0.639746,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N1,14.278124,14.198797,202.732183,14.238405,6.0,1.0,104.0
3,174024-06,121,2013-07-11T02:49:20,-0.263834,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N2,14.103874,14.044948,198.088175,14.074380,6.0,2.0,121.0
4,174024-06,121,2013-07-11T02:49:20,-0.263834,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N2,14.103874,14.044948,198.088175,14.074380,6.0,2.0,121.0

In [39]:
temp_df = df_all3tables.loc[df_all3tables['Wafer_DieNo'] == '240664-01']
temp_df.head(11)
# print(df.loc[df['B'].isin(['one','three'])])

,Wafer_DieNo,NozzNo,DateTime_x,offset,width,Base_Wafer_ID,Die_N,lot_id,nozzle_product,consumable_unit_id,...,FAIL#,Date,Nozzle_Die,X,Y,XY_Area,sqrt_of_XY,Die#,Nozzle#,Noz_location
3536,240664-01,104,2018-05-29T21:22:29,-0.137782,121.4074,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N1,12.780970,41.020225,524.278280,22.897124,1.0,1.0,104.0
3537,240664-01,104,2018-05-29T21:22:29,-0.137782,121.4074,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N1,12.780970,41.020225,524.278280,22.897124,1.0,1.0,104.0
3538,240664-01,121,2018-05-29T21:22:29,-0.085236,119.8660,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N2,12.730535,41.034017,522.384974,22.855743,1.0,2.0,121.0
3539,240664-01,121,2018-05-29T21:22:29,-0.085236,119.8660,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N2,12.730535,41.034017,522.384974,22.855743,1.0,2.0,121.0
3540,240664-01,360,2018-05-29T21:22:29,-0.108334,123.4618,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N3,12.667384,41.008593,519.471604,22.791920,1.0,3.0,360.0
3541,240664-01,360,2018-05-29T21:22:29,-0.108334,123.4618,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N3,12.667384,41.008593,519.471604,22.791920,1.0,3.0,360.0
3542,240664-01,377,2018-05-29T21:22:29,0.939483,122.8577,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N4,12.880833,41.097911,529.375330,23.008158,1.0,4.0,377.0
3543,240664-01,377,2018-05-29T21:22:29,0.939483,122.8577,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N4,12.880833,41.097911,529.375330,23.008158,1.0,4.0,377.0
3544,240664-01,616,2018-05-29T21:22:29,-0.512197,124.0142,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N5,12.726545,41.124159,523.368471,22.877248,1.0,5.0,616.0
3545,240664-01,616,2018-05-29T21:22:29,-0.512197,124.0142,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N5,12.726545,41.124159,523.368471,22.877248,1.0,5.0,616.0
3546,240664-01,633,2018-05-29T21:22:29,0.284768,122.4148,240664,1,240664,G_407_N,245029,...,0.0,20180210.0,D1N6,12.922693,41.170422,532.032730,23.065835,1.0,6.0,633.0

In [40]:
temp_df_column = temp_df[['Wafer_DieNo', 'NozzNo','DateTime_x']]
temp_df_column.head(10)

     Wafer_DieNo  NozzNo           DateTime_x
3536   240664-01     104  2018-05-29T21:22:29
3537   240664-01     104  2018-05-29T21:22:29
3538   240664-01     121  2018-05-29T21:22:29
3539   240664-01     121  2018-05-29T21:22:29
3540   240664-01     360  2018-05-29T21:22:29
3541   240664-01     360  2018-05-29T21:22:29
3542   240664-01     377  2018-05-29T21:22:29
3543   240664-01     377  2018-05-29T21:22:29
3544   240664-01     616  2018-05-29T21:22:29
3545   240664-01     616  2018-05-29T21:22:29

In [41]:
temp_df_column.drop_duplicates(['Wafer_DieNo','NozzNo'], keep='last')

     Wafer_DieNo  NozzNo           DateTime_x
3569   240664-01     104  2018-05-29T20:12:50
3571   240664-01     121  2018-05-29T20:12:50
3573   240664-01     360  2018-05-29T20:12:50
3575   240664-01     377  2018-05-29T20:12:50
3577   240664-01     616  2018-05-29T20:12:50
3579   240664-01     633  2018-05-29T20:12:50
3581   240664-01     872  2018-05-29T20:12:50
3583   240664-01     889  2018-05-29T20:12:50
3585   240664-01    1128  2018-05-29T20:12:50
3587   240664-01    1145  2018-05-29T20:12:50
3589   240664-01    1384  2018-05-29T20:12:50
3591   240664-01    1401  2018-05-29T20:12:50
3593   240664-01    1640  2018-05-29T20:12:50
3595   240664-01    1657  2018-05-29T20:12:50
3597   240664-01    1896  2018-05-29T20:12:50
3599   240664-01    1913  2018-05-29T20:12:50

In [42]:
df_all3tables.drop_duplicates(['Wafer_DieNo','NozzNo'], keep='last').head(5)

,Wafer_DieNo,NozzNo,DateTime_x,offset,width,Base_Wafer_ID,Die_N,lot_id,nozzle_product,consumable_unit_id,...,FAIL#,Date,Nozzle_Die,X,Y,XY_Area,sqrt_of_XY,Die#,Nozzle#,Noz_location
98,174024-06,104,2013-07-15T10:44:22,-0.806763,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N1,14.278124,14.198797,202.732183,14.238405,6.0,1.0,104.0
101,174024-06,121,2013-07-15T10:44:22,-0.488148,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N2,14.103874,14.044948,198.088175,14.074380,6.0,2.0,121.0
104,174024-06,360,2013-07-15T10:44:22,0.549903,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N3,14.185392,14.116529,200.248489,14.150918,6.0,3.0,360.0
107,174024-06,377,2013-07-15T10:44:22,0.019917,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N4,14.119548,14.094850,199.012919,14.107194,6.0,4.0,377.0
110,174024-06,616,2013-07-15T10:44:22,-0.617867,NaN,174024,6,174024,NaN,174450,...,0.0,20181219.0,D6N5,13.981409,14.023651,196.070406,14.002514,6.0,5.0,616.0

In [43]:
start = df_nozzleresults['Nozzle_Wafer_ID'].unique()
len(df_nozzleresults['Nozzle_Wafer_ID'].unique())

4282

In [44]:
mid = df_wafer_map5['Nozzle_Wafer_ID'].unique()
len(df_wafer_map5['Nozzle_Wafer_ID'].unique())

3494

In [45]:
end = df_all3tables['Nozzle_Wafer_ID'].unique()
len(df_all3tables['Nozzle_Wafer_ID'].unique())

2131

In [46]:
start_mid = [x for x in start if x not in mid]
mid_start = [x for x in mid if x not in start]
print(len(start_mid),len(mid_start))

851 63

In [47]:
mid_end = [x for x in mid if x not in end]
end_mid = [x for x in end if x not in mid]
print(len(mid_end),len(end_mid))

1363 0

In [48]:
import numpy as np
merge = np.concatenate([mid,start1])
print(len(np.unique(merge)))
xx = np.unique(merge)
start_midx = [x for x in start if x not in xx]
mid_startx = [x for x in xx if x not in start]
print(len(start_midx),len(mid_startx))

3498
851 67

In [49]:
start_mid

[244879.1,
 244976.1,
 244975.1,
 244870.1,
 244859.1,
 244858.1,
 249236.1,
 248856.1,
 248194.1,
 248193.1,
 248192.1,
 248191.1,
 247076.1,
 247075.1,
 246665.1,
 250159.1,
 2500036.1,
 249259.1,
 248857.1,
 248854.1,
 248853.1,
 7248690.1,
 7248689.1,
 7248686.1,
 248500.1,
 248547.1,
 2481227.1,
 248195.1,
 247977.1,
 246718.1,
 246717.1,
 246710.1,
 246701.1,
 244515.1,
 243456.1,
 243455.1,
 2433543.1,
 243508.1,
 243490.1,
 250044.1,
 249233.1,
 249112.1,
 246650.1,
 250072.1,
 249796.1,
 249792.1,
 249457.1,
 249434.1,
 249304.8,
 249304.7,
 249251.1,
 248887.1,
 248855.1,
 248551.1,
 247913.1,
 246723.1,
 246644.1,
 244500.1,
 244315.1,
 243520.1,
 243503.1,
 244874.1,
 249269.1,
 248897.1,
 7248688.1,
 247975.1,
 246645.1,
 244312.1,
 244307.1,
 249581.1,
 250537.2,
 250359.3,
 250359.6,
 251059.1,
 251367.1,
 251656.1,
 251060.1,
 251652.1,
 251649.1,
 251642.1,
 250955.3,
 250955.2,
 250955.1,
 250955.5,
 251742.1,
 251741.1,
 251740.1,
 251739.1,
 252003.1,
 252055.1,
 251927.9,
 251927.16,
 251927.15,
 251927.14,
 251927.13,
 251927.12,
 251927.11,
 252503.2,
 252503.1,
 252291.1,
 252547.1,
 252546.1,
 252545.1,
 252821.1,
 252820.1,
 252819.1,
 252379.1,
 2524769.1,
 2524768.1,
 2524767.1,
 253073.2,
 253073.1,
 252631.1,
 252807.1,
 253073.9,
 253231.1,
 252557.1,
 253073.4,
 2534564.1,
 253500.6,
 253500.5,
 253464.1,
 253462.1,
 253499.7,
 253517.1,
 253457.6,
 253457.5,
 253979.4,
 254204.1,
 254203.7,
 254547.1,
 254546.1,
 254545.1,
 254543.1,
 254541.1,
 254540.1,
 254535.1,
 254534.1,
 254453.3,
 254544.1,
 254542.1,
 254539.1,
 254538.1,
 254537.1,
 254536.1,
 254533.1,
 254532.1,
 254693.2,
 254693.3,
 254693.8,
 254751.1,
 254750.2,
 254751.2,
 253512.1,
 254941.7,
 255065.8,
 254825.8,
 254825.7,
 254825.6,
 254825.5,
 254825.4,
 254825.3,
 254825.2,
 254825.1,
 255124.6,
 255124.5,
 255124.4,
 255040.8,
 255040.7,
 255040.4,
 255040.3,
 255124.8,
 255124.7,
 255288.7,
 255288.4,
 255288.3,
 255040.6,
 255040.5,
 255040.2,
 255288.2,
 255158.1,
 255157.1,
 255515.8,
 255515.6,
 255515.5,
 255515.4,
 255515.3,
 255515.2,
 255515.1,
 255515.7,
 253465.1,
 255662.1,
 255661.1,
 255660.1,
 255902.1,
 253460.1,
 253459.1,
 253458.1,
 256327.1,
 256567.6,
 256637.1,
 256636.1,
 257163.8,
 256993.4,
 256994.1,
 256999.1,
 256998.1,
 256997.1,
 256995.1,
 257542.1,
 257320.1,
 257612.1,
 257548.1,
 257505.6,
 257505.4,
 255920.1,
 255919.1,
 255917.1,
 255916.1,
 255918.1,
 257945.2,
 257945.1,
 257881.8,
 257881.7,
 257881.6,
 257881.5,
 257881.4,
 257881.3,
 257881.2,
 257881.1,
 257621.1,
 257945.6,
 257945.5,
 257945.4,
 257945.3,
 257890.1,
 257890.7,
 257890.6,
 257890.5,
 257890.3,
 257890.2,
 257616.1,
 257615.1,
 257614.1,
 258052.6,
 257613.1,
 257972.3,
 257972.2,
 258128.8,
 258128.7,
 258128.4,
 258128.3,
 258128.2,
 258128.1,
 258128.6,
 258128.5,
 258061.3,
 257946.3,
 257946.2,
 257946.1,
 258172.8,
 258172.7,
 258172.6,
 258172.5,
 258172.4,
 258172.3,
 258172.2,
 258172.1,
 258070.2,
 258070.8,
 258070.7,
 258070.5,
 258070.4,
 258070.3,
 258070.1,
 257946.5,
 257946.8,
 257946.7,
 257946.6,
 257946.4,
 258070.6,
 258137.8,
 258137.7,
 258137.5,
 258137.4,
 258218.8,
 258218.7,
 258218.6,
 258218.5,
 258218.3,
 258218.2,
 258218.1,
 258218.4,
 258252.8,
 258252.7,
 258252.6,
 258252.5,
 258252.4,
 258252.3,
 258252.2,
 258252.1,
 258209.2,
 258209.1,
 258209.8,
 258209.7,
 258209.6,
 258209.5,
 258209.4,
 258209.3,
 258261.7,
 258437.8,
 258437.7,
 258437.6,
 258437.5,
 258437.4,
 258437.3,
 258437.2,
 258437.1,
 258454.8,
 258454.7,
 258454.6,
 258454.4,
 258454.2,
 258454.1,
 258481.7,
 258481.5,
 258454.3,
 258481.2,
 258032.1,
 258547.8,
 258547.5,
 258547.4,
 258547.3,
 258547.2,
 258547.1,
 258538.8,
 258538.7,
 258538.6,
 258538.5,
 258538.4,
 258538.3,
 258538.2,
 258538.1,
 258657.8,
 258657.7,
 258657.6,
 258657.5,
 258657.4,
 258657.3,
 258657.2,
 258657.1,
 258638.2,
 258638.1,
 258596.8,
 258596.7,
 258596.6,
 258596.5,
 258596.4,
 258658.7,
 258658.6,
 258658.5,
 258658.4,
 258639.8,
 258639.7,
 258639.5,
 258639.4,
 258639.3,
 258639.2,
 258639.1,
 258638.8,
 258638.7,
 258638.6,
 258638.5,
 258638.4,
 258638.3,
 258717.1,
 258658.8,
 258597.8,
 258597.7,
 258597.6,
 258597.5,
 258597.4,
 258727.7,
 258727.6,
 258727.5,
 258727.4,
 258727.3,
 258727.2,
 258727.1,
 258718.4,
 258718.3,
 258718.2,
 258718.1,
 258717.8,
 258717.7,
 258717.6,
 258717.5,
 258717.4,
 258717.3,
 258717.2,
 258718.5,
 258842.8,
 258842.7,
 258842.6,
 258842.5,
 258842.4,
 258727.8,
 258860.8,
 258860.7,
 258860.6,
 258860.3,
 258860.2,
 258860.1,
 258815.4,
 258815.3,
 258815.7,
 258815.6,
 258815.5,
 258815.2,
 258815.1,
 258860.5,
 258860.4,
 258883.6,
 258883.5,
 258883.4,
 258883.2,
 258883.1,
 258841.8,
 258841.7,
 258841.6,
 258841.5,
 258841.4,
 258815.8,
 258901.7,
 258901.1,
 258843.8,
 258843.7,
 258843.6,
 258843.5,
 258843.4,
 258843.3,
 258843.2,
 258843.1,
 258901.8,
 258866.1,
 258865.1,
 258864.1,
 258863.1,
 258862.1,
 258918.8,
 258918.7,
 258918.6,
 258918.5,
 258918.4,
 258918.3,
 258918.2,
 258918.1,
 258966.1,
 258954.8,
 258954.7,
 258954.6,
 258954.5,
 258954.4,
 258954.3,
 258954.2,
 258954.1,
 258902.8,
 258902.6,
 258902.5,
 258902.4,
 258902.2,
 258902.7,
 259026.5,
 259026.6,
 259026.7,
 259026.4,
 259026.2,
 259026.3,
 259026.1,
 259111.1,
 259027.8,
 259027.7,
 259027.6,
 259027.5,
 259027.4,
 259027.3,
 259027.2,
 259027.1,
 259026.8,
 258955.8,
 258955.7,
 258955.6,
 258955.5,
 258955.4,
 258955.3,
 258955.2,
 258955.1,
 259213.3,
 259213.2,
 259213.1,
 258927.8,
 258927.7,
 258927.6,
 258927.5,
 258927.4,
 258927.3,
 258927.2,
 258927.1,
 259149.6,
 259149.5,
 259149.4,
 259149.3,
 259149.2,
 259149.1,
 259111.7,
 259111.6,
 259111.5,
 259111.4,
 259111.3,
 259111.2,
 259213.8,
 259213.7,
 259213.6,
 259213.5,
 259213.4,
 259214.8,
 259214.7,
 259214.6,
 259214.5,
 259214.4,
 259214.3,
 259214.2,
 259214.1,
 259231.3,
 259231.2,
 259231.1,
 259231.4,
 259270.4,
 259270.1,
 259270.5,
 259270.2,
 259270.3,
 259231.6,
 259240.3,
 259240.2,
 259270.8,
 259270.7,
 259270.6,
 259166.8,
 259166.7,
 259166.6,
 259166.5,
 259166.4,
 259166.3,
 259166.2,
 259166.1,
 259240.1,
 259240.8,
 259240.7,
 259240.6,
 259240.5,
 259240.4,
 259271.8,
 259271.7,
 259271.6,
 259271.5,
 259271.4,
 259271.3,
 259271.2,
 259271.1,
 259309.8,
 259309.7,
 259309.6,
 259309.4,
 259309.3,
 259309.2,
 259309.1,
 259594.2,
 259594.1,
 259875.8,
 259875.7,
 259875.4,
 259875.2,
 260157.4,
 260157.5,
 260081.1,
 260207.2,
 260081.3,
 260206.6,
 260283.6,
 260372.4,
 260384.8,
 260447.2,
 260567.9,
 260684.2,
 260684.1,
 260615.1,
 260614.1,
 260613.1,
 260612.1,
 260611.1,
 260684.8,
 260684.7,
 260684.6,
 260684.5,
 260684.4,
 260684.3,
 260737.3,
 260737.1,
 260882.5,
 260812.3,
 260812.2,
 260970.8,
 261301.8,
 261301.7,
 261301.6,
 261301.5,
 261301.4,
 261301.3,
 261301.2,
 261301.1,
 261333.8,
 261333.5,
 261323.4,
 261323.3,
 261374.2,
 261404.7,
 261353.5,
 261374.7,
 261461.3,
 261544.1,
 261451.7,
 261643.4,
 261643.3,
 261643.2,
 261643.1,
 261641.8,
 261562.3,
 261642.4,
 261642.3,
 261642.2,
 261642.1,
 261642.7,
 261642.6,
 261642.8,
 261782.3,
 261886.4,
 261886.1,
 261886.7,
 261913.7,
 261847.1,
 262004.8,
 262004.6,
 261857.8,
 261857.4,
 261955.8,
 261955.7,
 261955.6,
 261955.5,
 261955.4,
 261956.4,
 262053.6,
 262335.8,
 262335.7,
 262335.6,
 262335.5,
 262335.4,
 262335.3,
 262335.2,
 262335.1,
 262386.8,
 262386.7,
 262386.6,
 262386.5,
 262386.4,
 262386.2,
 262387.8,
 262555.8,
 262555.7,
 262274.8,
 262274.7,
 262274.6,
 262274.5,
 262274.4,
 262274.3,
 262274.2,
 262063.8,
 262063.7,
 262063.6,
 262063.5,
 262063.4,
 262063.3,
 262063.2,
 262063.1,
 262274.1,
 262118.6,
 262690.3,
 262690.2,
 262690.1,
 262690.8,
 262690.7,
 262690.6,
 262690.5,
 262690.4,
 2622691.5,
 2622691.4,
 2622691.3,
 2622691.2,
 2622691.1,
 262746.1,
 2622691.8,
 2622691.7,
 2622691.6,
 262914.1,
 262876.8,
 262876.7,
 262556.5,
 262556.4,
 262556.3,
 262556.2,
 262556.1,
 262914.8,
 262914.7,
 262914.6,
 262914.5,
 262914.4,
 262914.3,
 262914.2,
 262981.8,
 262981.2,
 262990.5,
 263001.6,
 263035.8,
 263035.7,
 263035.6,
 263035.5,
 263035.4,
 263035.3,
 263035.2,
 263035.1,
 262967.8,
 262967.2,
 263206.6,
 263255.2,
 263255.1,
 263255.8,
 263255.7,
 263255.6,
 263255.5,
 263255.4,
 263255.3,
 263374.8,
 263332.1,
 263449.7,
 263449.6,
 263449.5,
 263449.4,
 263332.8,
 263332.7,
 263332.6,
 263332.5,
 263332.4,
 263332.3,
 263332.2,
 263516.6,
 263516.5,
 263516.4,
 263516.3,
 263516.2,
 263516.1,
 263449.8,
 263516.7,
 263516.8,
 263634.6,
 263700.8,
 263700.7,
 263700.6,
 263700.5,
 263700.4,
 263700.3,
 263700.2,
 263700.1,
 263701.7,
 263701.6,
 263701.5,
 263701.4,
 263701.3,
 263701.2,
 263701.1,
 263782.2,
 263782.1,
 263782.8,
 263782.7,
 263782.6,
 263782.5,
 263782.4,
 263782.3,
 263701.8,
 263773.8,
 263773.7,
 263773.6,
 263773.5,
 263773.4,
 263773.3,
 263773.2,
 263773.1,
 263894.6,
 263894.5,
 263894.4,
 263894.3,
 263894.2,
 263894.1,
 263883.5,
 263883.4,
 263883.3,
 263883.2,
 263883.1,
 263894.8,
 263894.7,
 263883.8,
 263883.7,
 263883.6,
 263829.4,
 263866.8,
 263866.7,
 263866.6,
 263866.5,
 263866.4,
 263866.3,
 263866.2,
 263866.1,
 263829.8,
 263829.7,
 263829.6,
 263829.5,
 263956.8,
 263956.7,
 263956.6,
 263956.5,
 263956.4,
 263956.3,
 263956.2,
 263956.1,
 263957.8,
 263957.7,
 263957.6,
 263957.4,
 263957.3,
 263957.2,
 263957.1,
 263957.5]

In [50]:
mid_end

[243289.1,
 243351.1,
 243487.1,
 243489.1,
 243502.1,
 243519.1,
 243521.1,
 243530.1,
 244293.1,
 244305.1,
 244306.1,
 244308.1,
 244855.1,
 244937.1,
 245027.1,
 245030.1,
 245042.1,
 245580.1,
 245584.1,
 246662.1,
 246700.1,
 246706.1,
 247092.1,
 247101.1,
 247131.1,
 247134.1,
 247141.1,
 247151.1,
 247873.1,
 247876.1,
 247902.1,
 247908.1,
 247972.1,
 248197.1,
 248207.1,
 248542.1,
 248596.1,
 248685.1,
 248687.1,
 248689.1,
 248690.1,
 248826.1,
 248829.1,
 248889.1,
 248901.1,
 248906.1,
 249265.1,
 249267.1,
 249268.1,
 249270.1,
 249271.1,
 249272.1,
 249391.1,
 249392.1,
 249491.1,
 249576.1,
 249580.1,
 249600.1,
 249737.1,
 249740.1,
 249742.1,
 249886.1,
 249888.1,
 249891.1,
 249915.1,
 250009.1,
 250012.1,
 250041.1,
 250045.1,
 250071.1,
 250141.1,
 250165.1,
 250273.1,
 250345.1,
 250347.1,
 250359.2,
 250640.1,
 250641.1,
 250643.1,
 250645.1,
 250646.1,
 250648.1,
 250782.1,
 250890.1,
 250955.4,
 250955.6,
 250955.7,
 251657.1,
 251927.3,
 252004.1,
 252011.2,
 252011.5,
 252011.6,
 252054.1,
 252057.1,
 252058.1,
 252059.1,
 252060.1,
 252061.1,
 252062.1,
 252064.1,
 252067.1,
 252069.1,
 252071.1,
 252072.1,
 252073.1,
 252075.1,
 252076.1,
 252077.1,
 252276.1,
 252277.1,
 252279.1,
 252280.1,
 252281.1,
 252282.1,
 252283.1,
 252284.1,
 252285.1,
 252286.1,
 252287.1,
 252288.1,
 252292.1,
 252293.1,
 252294.1,
 252295.1,
 252296.1,
 252297.1,
 252298.1,
 252299.1,
 252300.1,
 252374.6,
 252383.1,
 252467.1,
 252472.1,
 252473.1,
 252503.7,
 252536.1,
 252537.1,
 252538.1,
 252539.1,
 252540.1,
 252541.1,
 252542.1,
 252543.1,
 252544.1,
 252548.1,
 252549.1,
 252550.1,
 252551.1,
 252552.1,
 252553.1,
 252554.1,
 252555.1,
 252560.1,
 252804.1,
 252805.1,
 252806.1,
 252808.1,
 252809.1,
 252810.1,
 252811.1,
 252812.1,
 252813.1,
 252814.1,
 252815.1,
 252816.1,
 252817.1,
 252818.1,
 252822.1,
 252823.1,
 252824.1,
 252825.1,
 252826.1,
 252827.1,
 252828.1,
 252958.1,
 252960.1,
 252961.1,
 252963.1,
 252964.1,
 253073.3,
 253073.5,
 253073.7,
 253233.1,
 253233.6,
 253233.7,
 253234.1,
 253235.1,
 253431.1,
 253434.1,
 253436.1,
 253437.1,
 253438.1,
 253440.1,
 253442.1,
 253444.1,
 253445.1,
 253447.1,
 253448.1,
 253450.1,
 253452.1,
 253453.1,
 253454.1,
 253517.6,
 253911.2,
 253979.7,
 254005.6,
 254751.5,
 254883.4,
 255040.1,
 255288.1,
 255364.1,
 255377.1,
 255423.6,
 255862.4,
 255864.1,
 255885.1,
 255886.1,
 255887.1,
 255888.1,
 255889.1,
 255890.1,
 255892.1,
 255923.1,
 255924.1,
 255925.1,
 255926.1,
 255927.1,
 255928.1,
 255930.1,
 255931.1,
 255932.1,
 255933.1,
 255934.1,
 255935.1,
 255936.1,
 255937.1,
 256292.2,
 256673.5,
 256706.1,
 256706.2,
 256706.3,
 256706.7,
 256706.8,
 256925.1,
 256993.2,
 256993.3,
 256993.5,
 256993.8,
 257038.1,
 257039.1,
 257040.1,
 257041.1,
 257042.1,
 257043.1,
 257044.1,
 257046.1,
 257047.1,
 257048.1,
 257049.1,
 257050.1,
 257183.3,
 257183.4,
 257183.5,
 257183.8,
 257314.1,
 257314.2,
 257314.3,
 257314.6,
 257314.8,
 257323.1,
 257324.1,
 257325.1,
 257327.1,
 257328.1,
 257332.1,
 257334.1,
 257335.1,
 257336.1,
 257337.1,
 257338.1,
 257339.1,
 257341.1,
 257342.1,
 257343.1,
 257344.1,
 257345.1,
 257346.1,
 257389.4,
 257389.7,
 257390.7,
 257530.1,
 257530.2,
 257530.5,
 257530.8,
 257539.1,
 257540.1,
 257541.1,
 257543.1,
 257544.1,
 257545.1,
 257546.1,
 257547.1,
 257550.1,
 257551.1,
 257552.1,
 257553.1,
 257554.1,
 257555.1,
 257556.1,
 257557.1,
 257558.1,
 257559.1,
 257560.1,
 257598.4,
 257617.1,
 257618.1,
 257619.1,
 257620.1,
 257676.2,
 257678.1,
 257972.1,
 258036.1,
 258050.7,
 258061.1,
 258061.5,
 258061.6,
 258127.4,
 258127.8,
 258137.1,
 258251.2,
 258251.6,
 258261.1,
 258261.2,
 258261.3,
 258261.4,
 258261.5,
 258261.6,
 258261.8,
 258369.8,
 258411.1,
 258411.2,
 258411.6,
 258412.4,
 258412.6,
 258412.7,
 258412.8,
 258547.6,
 258547.7,
 258596.1,
 258640.2,
 258640.5,
 258640.8,
 258658.3,
 258816.1,
 258816.2,
 258816.3,
 258816.4,
 258816.5,
 258816.6,
 258816.7,
 258816.8,
 258841.1,
 258841.2,
 258841.3,
 258867.1,
 258868.1,
 258869.1,
 258871.1,
 258872.1,
 258873.1,
 258883.3,
 258883.7,
 258901.2,
 258901.3,
 258901.4,
 258901.5,
 259111.8,
 259231.5,
 259231.7,
 259231.8,
 259284.2,
 259284.5,
 259284.6,
 259284.7,
 259284.8,
 259310.1,
 259310.2,
 259310.3,
 259310.6,
 259310.7,
 259479.3,
 259479.4,
 259479.6,
 259479.7,
 259479.8,
 259705.1,
 259705.2,
 259705.3,
 259705.4,
 259705.5,
 259705.6,
 259705.7,
 259705.8,
 259724.1,
 259726.1,
 259727.1,
 259737.1,
 259738.1,
 259742.1,
 259746.1,
 259747.1,
 259749.1,
 259750.1,
 259751.1,
 259753.1,
 259827.1,
 259827.2,
 259827.3,
 259827.4,
 259827.5,
 259827.7,
 259827.8,
 259926.5,
 259967.1,
 259967.2,
 259967.3,
 259967.4,
 259967.5,
 259967.6,
 259967.7,
 259967.8,
 260041.1,
 260041.2,
 260041.3,
 260041.4,
 260041.5,
 260041.8,
 260081.2,
 260081.4,
 260081.5,
 260081.6,
 260081.7,
 260081.8,
 260090.1,
 260090.2,
 260090.3,
 260090.4,
 260090.5,
 260090.6,
 260090.7,
 260090.8,
 260156.1,
 260156.2,
 260156.3,
 260156.4,
 260156.7,
 260156.8,
 260157.1,
 260157.2,
 260157.3,
 260157.6,
 260157.7,
 260157.8,
 260205.3,
 260206.5,
 260207.5,
 260209.1,
 260209.2,
 260209.3,
 260209.4,
 260209.5,
 260209.6,
 260209.7,
 260209.8,
 260210.1,
 260210.2,
 260210.3,
 260210.4,
 260210.5,
 260210.6,
 260210.7,
 260210.8,
 260283.2,
 260292.1,
 260292.2,
 260292.3,
 260292.4,
 260292.5,
 260294.1,
 260294.2,
 260294.3,
 260294.4,
 260294.5,
 260294.6,
 260294.7,
 260294.8,
 260296.2,
 260296.4,
 260296.7,
 260297.2,
 260297.5,
 260297.6,
 260339.7,
 260372.1,
 260372.2,
 260372.3,
 260372.5,
 260372.6,
 260372.7,
 260372.8,
 260384.2,
 260460.1,
 260460.2,
 260460.3,
 260460.4,
 260460.6,
 260460.8,
 260566.1,
 260566.2,
 260566.7,
 260566.8,
 260567.1,
 260567.2,
 260567.3,
 260567.4,
 260567.5,
 260567.6,
 260567.7,
 260737.5,
 260737.8,
 260781.5,
 260781.6,
 260781.7,
 260792.2,
 260880.1,
 260880.2,
 260880.3,
 260880.4,
 260880.5,
 260880.6,
 260880.7,
 260880.8,
 260969.1,
 260969.2,
 260969.3,
 260969.4,
 260969.5,
 260969.6,
 260969.7,
 260969.8,
 260970.1,
 260970.2,
 260970.5,
 261099.1,
 261099.4,
 261184.1,
 261185.1,
 261186.1,
 261187.1,
 261188.1,
 261189.1,
 261190.1,
 261191.1,
 261192.1,
 261201.3,
 261201.4,
 261201.8,
 261218.1,
 261218.2,
 261218.3,
 261218.4,
 261218.5,
 261218.6,
 261218.7,
 261218.8,
 261229.1,
 261229.2,
 261229.3,
 261229.4,
 261229.5,
 261229.6,
 261229.7,
 261229.8,
 261230.1,
 261230.2,
 261230.3,
 261230.4,
 261230.5,
 261230.6,
 261230.7,
 261230.8,
 261323.8,
 261324.1,
 261324.2,
 261324.3,
 261324.4,
 261324.5,
 261324.6,
 261324.7,
 261324.8,
 261333.1,
 261333.2,
 261333.3,
 261333.4,
 261333.6,
 261333.7,
 261334.1,
 261334.2,
 261334.5,
 261334.8,
 261335.1,
 261335.2,
 261335.3,
 261335.4,
 261335.5,
 261335.6,
 261335.8,
 261352.1,
 261352.2,
 261352.4,
 261352.7,
 261352.8,
 261353.1,
 261353.2,
 261353.3,
 261353.4,
 261353.6,
 261353.7,
 261353.8,
 261374.3,
 261374.5,
 261374.6,
 261374.8,
 261375.1,
 261375.2,
 261375.3,
 261375.4,
 261375.5,
 261375.8,
 261403.1,
 261403.2,
 261403.3,
 261403.4,
 261403.5,
 261403.6,
 261403.7,
 261403.8,
 261404.1,
 261404.2,
 261404.3,
 261404.4,
 261404.5,
 261404.6,
 261404.8,
 261433.1,
 261433.2,
 261433.3,
 261433.4,
 261433.5,
 261433.6,
 261433.7,
 261433.8,
 261542.3,
 261542.4,
 261542.5,
 261542.6,
 261542.8,
 261543.1,
 261543.2,
 261543.3,
 261543.4,
 261543.5,
 261543.6,
 261543.7,
 261543.8,
 261561.1,
 261561.2,
 261561.3,
 261561.4,
 261561.5,
 261561.6,
 261561.7,
 261561.8,
 261562.1,
 261562.2,
 261597.1,
 261597.2,
 261597.3,
 261597.4,
 261597.5,
 261597.6,
 261597.7,
 261597.8,
 261598.1,
 261598.2,
 261598.3,
 261598.4,
 261598.5,
 261598.6,
 261598.7,
 261598.8,
 261641.1,
 261641.2,
 261641.3,
 261641.4,
 261641.6,
 261641.7,
 261662.1,
 261662.2,
 261662.3,
 261662.4,
 261662.5,
 261662.6,
 261662.7,
 261662.8,
 261663.1,
 261663.2,
 261663.3,
 261663.5,
 261663.6,
 261857.1,
 261857.2,
 261857.3,
 261857.5,
 261857.6,
 261857.7,
 261882.1,
 261882.2,
 261882.3,
 261882.4,
 261882.5,
 261882.6,
 261882.7,
 261882.8,
 261883.1,
 261883.4,
 261883.5,
 261883.6,
 261883.7,
 261883.8,
 261884.1,
 261884.2,
 261884.3,
 261884.4,
 261884.5,
 261884.6,
 261884.7,
 261884.8,
 261913.1,
 261913.2,
 261913.3,
 261913.4,
 261913.5,
 261913.6,
 261913.8,
 261994.1,
 261994.2,
 261994.3,
 261994.4,
 261994.5,
 261994.6,
 261994.7,
 261994.8,
 262054.1,
 262054.2,
 262054.3,
 262054.4,
 262054.5,
 262054.6,
 262054.7,
 262054.8,
 262115.1,
 262115.2,
 262115.3,
 262115.4,
 262115.5,
 262115.6,
 262115.7,
 262115.8,
 262116.1,
 262116.2,
 262116.3,
 262116.4,
 262116.5,
 262116.6,
 262116.7,
 262116.8,
 262117.1,
 262117.2,
 262117.3,
 262117.4,
 262117.5,
 262117.6,
 262117.7,
 262117.8,
 262118.1,
 262118.2,
 262118.4,
 262118.5,
 262118.7,
 262135.1,
 262135.2,
 262135.3,
 262135.4,
 262135.5,
 262135.6,
 262135.7,
 262135.8,
 262265.1,
 262265.2,
 262265.3,
 262265.4,
 262265.5,
 262265.6,
 262265.7,
 262265.8,
 262334.1,
 262334.2,
 262334.3,
 262334.4,
 262334.5,
 262334.6,
 262334.7,
 262334.8,
 262385.1,
 262385.2,
 262385.3,
 262385.4,
 262385.5,
 262385.6,
 262385.7,
 262385.8,
 262386.1,
 262386.3,
 262387.1,
 262387.2,
 262387.3,
 262387.4,
 262387.5,
 262387.6,
 262387.7,
 262555.1,
 262555.2,
 262555.3,
 262555.4,
 262555.5,
 262555.6,
 262905.1,
 262905.2,
 262905.3,
 262905.4,
 262905.5,
 262905.6,
 262905.7,
 262905.8,
 262958.1,
 262958.2,
 262958.3,
 262958.4,
 262958.5,
 262958.6,
 262958.7,
 262958.8,
 262967.1,
 262981.1,
 262981.3,
 262981.4,
 262981.5,
 262981.6,
 262981.7,
 262990.1,
 262990.2,
 262990.3,
 262990.4,
 262990.6,
 262990.7,
 262990.8,
 263001.1,
 263001.2,
 263001.3,
 263001.4,
 263001.5,
 263001.7,
 263001.8,
 263206.1,
 263206.2,
 263206.3,
 263206.4,
 263206.5,
 263206.7,
 263206.8,
 263595.1,
 263595.2,
 263595.3,
 263595.4,
 263595.5,
 263595.6,
 263595.7,
 263595.8,
 263634.1,
 263634.2,
 263634.3,
 263634.4,
 263634.5,
 263634.7,
 263634.8,
 201827.1,
 243288.1,
 243353.1,
 243355.1,
 243535.1,
 243537.1,
 244510.1,
 244875.1,
 244880.1,
 245043.1,
 248676.1,
 249105.1,
 260292.6,
 260448.5,
 260448.6,
 260448.7,
 261562.4,
 261562.5,
 261562.6,
 261562.7,
 261562.8,
 261885.1,
 261885.2,
 261885.3,
 261885.4,
 261885.5,
 261885.6,
 261885.7,
 261885.8,
 261886.8,
 262721.1,
 262721.3,
 262721.4,
 262721.5,
 262721.7,
 262721.8,
 263820.1,
 263820.2,
 263820.3,
 263820.4,
 263820.5,
 263820.6,
 263820.7,
 263820.8,
 249260.1,
 253439.1,
 250980.1,
 257163.1,
 257163.2,
 257163.3,
 259569.1,
 259569.2,
 259569.3,
 259569.4,
 259569.5,
 259569.6,
 259569.7,
 259569.8,
 259927.1,
 259927.2,
 259927.3,
 259927.4,
 259927.5,
 259927.6,
 259927.7,
 259927.8,
 259728.1,
 259595.8,
 259595.7,
 259595.4,
 259595.3,
 259595.2,
 259595.1,
 257549.1,
 261886.6,
 261886.5,
 261886.3,
 261886.2,
 262004.7,
 262004.5,
 262004.4,
 262004.3,
 262004.2,
 262004.1,
 250623.6,
 252848.2,
 253075.1,
 253231.5,
 253232.3,
 253232.7,
 253456.7,
 253500.2,
 253500.3,
 ...]

In [51]:
df_all3tables.to_csv("merged_table_with_drop_volume_mar7.csv" , index=False)

In [52]:
import csv

csvfile = r"C:\Users\jiacheng.qu\Desktop\temp\aa.csv"

#Assuming res is a flat list
with open(csvfile, "a") as output:
    writer = csv.writer(output, lineterminator='\n')
    for val in s21:
        writer.writerow([val])